<div class = "show panel default-panel">
  <%= form_for [@job.company, @job, @comment] do |f| %>

      <%= f.text_area :content, class:"form-control" %>

    <%= f.submit "Leave Comment", class: "btn btn-primary" %>
  <% end %>
</div>
