<h3 class = "title" >All Jobs for <%= @company.name %></h3>

<% @jobs.each do |job| %>
<div class = "company_list">
  <ul class = "one_company panel default-panel">
    <%= job.title %> at <%= job.company.name %>
    <%= link_to "Delete", company_job_path(@company, job), method: "delete"%>
  </ul>
</div>
<% end %>
