<h3 class = "title" >All Companies</h3>

<% @companies.each do |company| %>
<div class = "company_list" >
  <ul class="one_company panel default-panel">
    <%= link_to company.name, company_path(company), :class => "company_name" %><br>
    <%= link_to "Edit", edit_company_path(company) %>
    <%= link_to "Delete", company_path(company), method: "delete" %>
  </ul>
</div>
<% end %>
