.title {
  text-align: center;
  font-family: "opensans";

  font-size: 40px;
}

ul {
  margin: 20px;
  float: left;
  width:28%;
}

.company_name {
  font-family: "librebaskville";
  font-size: 30px;
}

.company_list {
  margin-top: 20px;
  margin-left: 11%;
  margin-right: 7%;

}
.one_company {
  margin-left: 2%;
  text-align: center;
}