body {
  background-image: url("bg-diamond.jpg");
  background-repeat: repeat;
  padding-top: 70px;
}
a {
  color: black;
}

.show {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
  padding: 15px;
}

.flash {
  text-align: center;
}